<p dir="ltr">127<br><br></p>
<p dir="ltr">&#21457;&#33258;&#25105;&#30340;&#23567;&#31859;&#25163;&#26426;</p>
<div class="quote">---------- 转发的邮件 ----------<br>发件人：zhaoyc1990 &lt;zhaoyc1990@163.com&gt;<br>日期：2016-9-22 下午3:03<br>主题：暂停<br>收件人：小赵 &lt;zhaoyc1990@163.com&gt;<br>抄送：<br><br type='attribution'><blockquote class="quote" style="margin:0 0 0 .8ex;border-left:1px #ccc solid;padding-left:1ex"><p dir="ltr"></p>
<p dir="ltr">&#25163;&#26426;&#21457;&#36865;</p>
<p dir="ltr">&#21457;&#33258;&#25105;&#30340;&#23567;&#31859;&#25163;&#26426;</p>
</blockquote></div>