<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<div id="homediv" class="add">
			<table>
				<tr>
					<td><div id="homediv" class="add"><span id="home"><a class="topa" href="{% url 'addhost' %}">主机</a></span></div></td><td></td>
				</tr>
				<tr>
					<td><div id="homediv" class="add"><span id="home"><a class="topa" href="{% url 'operatefile' %}">文件</a></span></div></td> <td></td>
				</tr>
				<tr>
					<td><div id="homediv" class="add"><span id="home"><a class="topa" href="{% url 'server' %}">服务</a></div></span></td><td>添加 </td>
				</tr>
				<tr>
					<td></td><td>切换版本</td>
				</tr>
				<tr>
					<td></td><td>配置文件</td>
				</tr>
			</table>
</div>